p {
    color: rgb(16, 28, 138);
}

#parrafo_principal {
    color: rgb(105, 6, 172);
}

h3.h333 {
    color: rgb(42, 152, 196);
}

h3.h222 {
    color: rgb(101, 0, 101)
    outline 1px solid rgb(190, 226, 26);
}

a[href*="Video Youtube"] {
    background-color: rgb(128, 23, 75);
}